/*APP COMPONENT RELATED CSS GOES HERE*/
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	background-color: lightyellow;
}

.App h1 {
	color: navy;
	text-shadow: 3px 2px orange;
	font-size: 3rem;
	text-align: center;
	margin: 0 1rem 0 1rem;
}

.App form {
	width: 100%;
	margin-bottom: 1rem;
}

.App .Search {
	width: 100%;
	height: 1.5rem;
}

.App .Container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: space-around;
	justify-content: space-around;
	background-color: lightyellow;
}

.highlight {
	border: 2px solid magenta;
}

.App .Card {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 7rem;
	width: 16rem;
	border: 1.5px solid pink;
	/*border-radius: 9px 9px 9px 9px;*/
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 1rem;
}

.App h2 {
	color: navy
}

.App h3 {
	color: blue
}

.Card:hover {
	height: 20rem;
	transition: 0.5s;

}

.Card li {
	list-style:none
}

.Card .purple {
	color: purple;
}

.Card .teal {
	color: teal;
}